$white: #eee;
$lightgray: #cfd8dc;
$blue: #334953;
$lightblue: #039be5;

h1 {
    font-size: 1.2em;
    margin-bottom: 0;
}

h2 {
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
}

nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    margin-right: 5px;
    display: inline-block;
    background-color: $white;
    border-radius: 4px;
}

nav a:visited, a:link {
    color: $blue;
}

nav a:hover {
    color: $lightblue;
    background-color: $lightgray;
}

nav a:active {
    color: $lightblue;
}